install*
*.o
*.so
*.a
*.sw[a-p]
*~
.vscode/
prebuilt
doxygen/latex
tmp
*.out
*.cvimodel
*.bmodel
build*
!build_tdl_sdk.sh
sophon_sdk
_deps/
*.jpg
python_depends
thirdparty
dependency
txt_root
json_root
