install
*.o
*.so
*.a
*.sw[a-p]
*~
.vscode/
prebuilt
doxygen/latex
tmp
*.out
*.cvimodel
*.bmodel
scripts/credential.sh
build*
!build_tdl_sdk.sh
!build_config.yaml
sophon_sdk
_deps/
*.jpg
python_depends
thirdparty
dependency
txt_root
json_root
tdl_sdk.code-workspace
.cursor
.ccls-cache
